* {
  box-sizing: border-box;
  border: 1px solid red;
}

html,
main,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ui-div {
  background-color: white;
  z-index: 10;
  position: absolute;
  width: 100%;
  opacity: 0.9;
  margin: 0;
  padding: 0;
}

#ui-controls {
  bottom: 0;
}

#visual-board {
  aspect-ratio: 1 / 1;
  min-width: 100%;
  z-index: -10;
  display: block;
}

.super_cell,
.sub_cell {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template: auto auto auto / auto auto auto;
  border: 0.2rem solid black;
}

.super_cell {
  /* padding: 0.1rem; */
  /* margin: 0.1rem; */
}

.super_cell:hover {
  border-color: red;
}

.sub_cell {
  /* margin: 0.1rem; */
  min-width: 15px;
}

.sub_cell:hover {
  border-color: blue;
}
